




















.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  display: flex;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  justify-content: space-between;
}
.footer__column_content_copyright{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  flex-basis: 711px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.footer__column_content_info {
  margin: 0;
  padding: 0;
}
.footer__column_content_social {
  margin: 0;
  padding: 0;
}
.footer__author {
  margin: 18px 0;
}
.footer__column-heading {
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
  list-style: none;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
}
.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  padding: 0;
}
.footer__column-link {
  color: white;
  text-decoration: none;
}
