.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
div {
  /* border: 1px solid red; */
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  border: 1px solid red;
  /* parameters for the header section */
}
.header__logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 1;
}
.header__title {
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  top: 120px;
  right: 10px
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2F80ED;
  z-index: -1;
  position: absolute;
  top: 64px;
  right: 0
}
.
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.content {
  margin-top: 100px;
}
.description {
  display: flex;
  justify-content: space-between;
  margin: 100px;
  border: 1px solid red;
}
.two-columns {
  /* border: 1px solid black; */
  width: 80%;
  min-width: 784px
}
.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
  width: 175px;
  /* border: 1px solid blue; */
}
.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /* margin: auto; */
  width: 80%;
  /* border: 1px solid cyan; */
  /* min-width: 784px; */
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  /* border: 1px solid orange; */
}
.two-columns__paragraph {
  /* border: 1px solid greenyellow; */
}
.digits {
  margin: 100px auto;
  border: 1px solid red;
}
.section-title {
  /* border: 1px solid green; */
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: auto;
}
.section-subtitle {
  /* border: 1px solid blue; */
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: auto;
}
.table {
  /* border: 1px solid orangered; */
  width: 1100px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.table__cell {
  /* border: 1px solid yellowgreen; */
  width: 250px;
  padding: 60px 0 60px 20px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
line-height: 1.2;
font-size: 18px;
font-weight: normal;
}
