.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2
  /* border: 1px solid red; */
  /* parameters for the header section */
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 1;
}
.header__title {
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  top: 120px;
  right: 10px
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2F80ED;
  z-index: -1;
  position: absolute;
  top: 64px;
  right: 0;
  align-self: right;
}
.description {
  margin: 100px;
  /* border: 1px solid red; */
  width: 80%
}
.two-columns {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
  width: 175px;
  /* border: 1px solid rgb(119, 119, 209); */
}
.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  /* border: 1px solid cyan; */
  min-width: 784px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  /* border: 1px solid orange; */
}
.two-columns__paragraph {
  margin-top: 0;
  /* border: 1px solid midnightblue; */

}
.digits {
  margin: 100px auto;
  /* border: 1px solid red; */
}
.section-title {
  /* border: 1px solid green; */
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
}
.section-title_theme_light {
  margin: auto;
}
.section-subtitle {
  /* border: 1px solid burlywood; */
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}
.section-subtitle_theme_light {
  margin: 20px auto 0;
}
.table {
  /* border: 1px solid orangered; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.table_theme_light {
  width: 1100px;
  margin: 0 auto 100px;
}
/* .table__cell {
  /* border: 1px solid yellowgreen;
}*/
.table__cell_theme_light{
  margin: 60px 0 0;
  width: 250px;
}
.table__heading {
  /* border: 1px solid firebrick; */
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
/* border: 1px solid salmon; */
line-height: 1.2;
font-size: 18px;
font-weight: normal;
}
.feynman {
  /* border: 1px solid red; */
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
}
.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;

  text-align: center;
  margin: auto;
  padding-top: 40px;
}
.feynman__subtitle {
  text-align: center;
  margin: auto;
  position: relative;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 70px;
}
.feynman__link {
  position: absolute;
  right: 40px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}
.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  /* border: 1px solid yellow; */
  position: relative;
  z-index: -2;
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  /* border: 1px solid rgb(1, 248, 248); */
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}
.section-title_theme_dark {
  margin: 90px auto 20px;
  color: #fff;
  /* border: 1px solid palegreen; */
  width: 60%;
}
.section-subtitle_theme_dark {
  color: #fff;
  /* border: 1px solid fuchsia; */
  margin: auto;
}
.table_theme_dark {
  width: 1200px;
  margin: 0 auto 90px;
}
.table__cell_theme_dark {
  width: 230px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  /* border: 1px solid rosybrown; */
}
.table__heading_theme_dark {
  margin: 0;
  /* border: 1px solid teal; */
}
.table__text_theme_dark {
  /* border: 1px solid indianred; */
  margin: 20px 0 0;
}
.footer {
  border: 1px solid seagreen;
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  /* position: relative */
}
.logo_place_footer {
  border: 1px solid firebrick;
  width: 183px;
  height: 35px;
  background-size: contain;
}
.footer__columns {
  border: 1px solid firebrick;
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  justify-content: space-between;
}
.footer__column_content_copyright{
  border: 1px solid rgb(235, 113, 8);
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  flex-basis: 711px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.footer__column_content_info {
  border: 1px solid white;
  margin:0;
  /* margin-bottom: 16px; */
  padding: 0;
}
.footer__column_content_social {
  border: 1px solid palevioletred;
  margin: 0;
  padding: 0
}
.footer__author {
  border: 1px solid green;
  margin: 18px 0;
}
.footer__column-heading {
  border: 1px solid teal;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.footer__social-icon {
  border: 1px solid rebeccapurple;
  height: 16px;
  width: 16px;
}
.footer__column-links {
  border: 1px solid violet;
  color: white;
  text-decoration: none;
  list-style: none;
  /* margin: 20px 0 16px; */
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
